mixin feature(title, desc)
    .feature__content 
        h5= title
        .feature__bar
        p= desc

mixin blogitem(image, title, text, desc)
    .blog__item
        img(src= image alt="blog__images")
        h7= title 
        p= text
        span= desc

mixin item(image)
    .item 
        img(src=image alt="main__images")
        
mixin list
    ul 
        li Home
        li About 
        li Blog
        li Resources
        li Work With Us
        Li Privacy Policy

mixin list__item
    ul 
        li Camping Hacks
        li Travel Tips 
        li Cheap Honeymoon Destinations
        li Best Travel Camera
        li Best Weekend Getaways
        Li Travel Packing Tips
        Li Travel Photography Tips
        Li Spiritual Travel

mixin list__itemsc
    ul 
        li Cinque Terre Travel
        li Rome Travel 
        li Venice Travel
        li Havasu Falls Travel
        li Norway Travel
        Li Switzerland Travel
        Li Big Island Hawaii Travel
        Li Kauai Travel

